.searchWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: -2rem;
}

.searchInput {
  width: 48rem;
  background-color: var(--gray-400);
  border: none;
  border-radius: 8px;
  padding: .75rem;
  color: var(--white);
  margin-right: .75rem;
}

.searchButton {
  width: 6rem;
  height: 3.5rem;
  border-radius: 8px;
  border: none;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-300);
  cursor: pointer;
  line-height: 0; /* to equalize spacing when focused */
  transition: color 0.2s;
  font-size: .875rem;
  padding: .50rem;
  color: var(--gray-100)
}

.searchButton > span {
  margin: .25rem;
}

.searchButton:hover {
  background-color: var(--blue-hover-300)
}