.taskInputWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: -2rem;
}

.taskStatusWrapper {
  padding-top: 4rem;
  padding-bottom: 1.5rem;
}

.taskInput {
  width: 85%;
  background-color: var(--gray-400);
  border: none;
  border-radius: 8px;
  padding: .75rem;
  color: var(--white);
  margin-right: .75rem;
}

.taskButton {
  width: 6rem;
  height: 3.5rem;
  border-radius: 8px;
  border: none;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-300);
  line-height: 0; /* to equalize spacing when focused */
  transition: color 0.2s;
  font-size: .875rem;
  padding: .50rem;
  color: var(--gray-100)
}

.taskButton > span {
  margin: .25rem;
}

.taskButton:not(:disabled):hover {
  background-color: var(--blue-hover-300)
}

.taskInputWrapper > button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width:768px) {
  .taskInputWrapper {
    flex-direction: column;
    gap: 1rem;
  }

  .taskInput,.taskButton {
    width: 100%;
  }

  .taskButton {
    height: 3rem;
  }
}
