.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.coreApp {
  width: 50%;

}

.taskStatusWrapper {
  padding-top: 4rem;
  padding-bottom: 1.5rem;
}